.sidebar{
    width: 16%;
    min-width: 50px;
    min-height: 100vh;
    background: #1a2835;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
   
 
}
.mobile_logo{
    display: none;
}

@media screen and (max-width: 925px){
    .sidebar {
   transition: all 0.3s linear;
     /* transform: scaleX(0.5); */
    }
    span {
        display: none;
    }
    .logo{
        display: none;
    }
    .mobile_logo{
        display: block;
    }
}


.top-nav li {
    display:flex;
    align-items: center;
    column-gap: 15px;
    margin-top: 15px;
}

main{
    width: 84%;
    background: white;
    margin-left: 16%; 
    
}